<p id="notice"><%= notice %></p>

<div class="table table-striped table-hover panel">
  <h2>About us</h2>
  <h3 class='fontype'>WynEats is a friendly webpage for the Wyncode community to view restaurants in the Wynwood area focused for onboarding Wyncoders from out of state and new to the area!</h3>
</div>
<br>
<div class="restaurant-pics">
  <% @restaurants.each_with_index do |restaurant, index| %>
    <div class="col-md-12  ">
      <figure>
        <figcaption>
          <div class="text-left">
            <h2><%= restaurant.name %></h2>
          </div>

        </figcaption>
        <div class="img-responsive text-center">
          <!-- <%#= image_tag restaurant.picture %>  something like this when paperclip implemented -->
          <%= image_tag restaurant.pictures.sample.image, class: "test_class" rescue nil %>
          <div class="section-2">
            <%= link_to 'Learn More', restaurant, class: "test_class" %>
          </div>
        </div>
      </figure>
    </div>
  <% end %>
</div>
