// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//

//  {
//   min-height: 100vh;
//   background-color: #1B1E25;
// }
//
//  {
//   min-height: 100vh;
//   background-color: #1B1E25;
// }

.restaurants.show {
  min-height: 100vh;
  background-color: #1B1E25;
  color: white;
}


.restaurants.new, .restaurants.create, .restaurants.edit, .restaurants.index {
  min-height: 100vh;
  background-color: #1B1E25;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}


tbody {
  color: white;
  background-color: #1B1E25;
  font-weight: bold;

}

th {
  font-style: italic;
  font-size: 22px;
  background-color: #1B1E25;
  color: gray;
}

td {
  background-color: #1B1E25;
  font-family: 'Open Sans', sans-serif;
}

.restaurant-pics {
  display: flex;
  flex-direction: row;
}
.restaurant-pics img {
  max-height: 500px
}

.section-1 h2 {
  display: flex;
  flex-wrap: wrap;
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  padding-top: 2em;
  padding-bottom: .5em;
}

.section-2 {
  font-size: 19px;
  text-align: center;
  padding-top: .8em;
}

.responsive-image {
  color: white;
}

.restaurants.new {
  background-image: url('https://c2.staticflickr.com/4/3676/12312245165_7a796b0aea_b.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.restaurant-new-container h1 {
  color: blue;
}
